@use '../../styles/layout';
@import '../../styles/colors';
.ord {
    border: 1px solid var(--pre-order);
    @include layout.col;
    margin: 20px 50px;
}

.foodList {
    display: flex;
    justify-content: space-between;
}

.head {
    @include layout.row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--pre-order);
    padding: 10px 20px;
}

.body {
    padding: 10px 20px;
    @include layout.row;
    justify-content: space-between;
}

.col {
    @include layout.col;
}