:root {
    --pre-order: #a398c4;
    --decommissioned: #b9c5d2;
    --in-production: #88e2e2;
    --produced: #bbe8a4;
    --new: #f4959d;
    --in-transit: #fff58e;
    --taken: #eaccc2;
    --completed: #ffffff;
}